*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body{
    background-color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    /*width: 100vw;*/
    height: 100vh;
    background-color: lightgoldenrodyellow;
}
aside{
    background-color: lightpink;

    width: 100%/*200px*/;
    height: 25vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article
{
    background-color: white;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}
.AsideItem {
    width: 25%;
    height: 100%;
    overflow: hidden;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.AsideItem > img
{
  width: 40%;
  transform: rotate(45deg);
  /*
  position: absolute;
  left: 50%;*/
  filter: opacity(50%);
}
.AsideItem > h1
{
  
  text-align: left;
  font-size: 2vw;
  /*
  position: absolute;
  left: 50%;*/
}
#Profile
{
  background-color: #e5ac00;
}
#Work
{
  background-color: #d98a07;
}
#Education
{
  background-color: #c6620d;
}
#Skills
{
  background-color: #ba3f13;
}

.ArticleItem
{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#ProfileImage
{
  width: 75%;
  height: auto;
}

@media (max-width: 767px) {
    /* стили для xs-устройств */
    /*
    main{
      display: flex;
      flex-wrap: nowrap;
      /*width: 100vw;
      height: 100vh;
    }
    aside{
        width: 20%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .AsideItem {
      width: 100%;
      height: 25%;
    }
    article
    {
        background-color: white;
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .ArticleItem
    {
      width: 100%;
      height: 25%;

    }*/
}
@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
  }
  @media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
  }
  @media (min-width: 1200px) {
    /* стили для lg-устройств */
  }