<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="headercard">
        <mat-card-header>
          <img mat-card-avatar src="../assets/avatar.png">
          <mat-card-title>Yehor Lohutov</mat-card-title>
          <mat-card-subtitle style="color: white">Software developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Textadasdasdasdasdassadasdasdasds
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Communications</mat-card-title>
          <i class="material-icons matcardheadericons">person_search</i>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <i mat-list-icon class="material-icons">email</i>
              <div mat-line>
                logutovegor@gmail.com
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <i mat-list-icon class="material-icons">chat</i>
              <a mat-line href="https://t.me/YehorLohutov">
                Telegram
                <i class="material-icons">link</i>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <i mat-list-icon class="material-icons">place</i>
              <a mat-line href="https://goo.gl/maps/uB6DfGtc3VdB6jMCA">
                Mykolaiv,
                Mykolaiv Oblast,<br>
                Ukraine
                <i class="material-icons">link</i>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <i mat-list-icon class="material-icons">calendar_today</i>
              <div mat-line>
                28.12.1999
              </div>
              <div mat-line>
                20 years old
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>


      </mat-card>
    </div>

    <div class="col-lg">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Skills</mat-card-title>
          <i class="material-icons matcardheadericons">palette</i>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div mat-line>Unity</div>
              <mat-slider mat-line min="0" max="10" step="1" value="7"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>.NET Core</div>
              <mat-slider mat-line min="0" max="10" step="1" value="5"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>ASP.NET Core</div>
              <mat-slider mat-line min="0" max="10" step="1" value="4"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Angular</div>
              <mat-slider mat-line min="0" max="10" step="1" value="4"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>C#</div>
              <mat-slider mat-line min="0" max="10" step="1" value="7"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>TypeScript</div>
              <mat-slider mat-line min="0" max="10" step="1" value="4"></mat-slider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Education</mat-card-title>
          <i class="material-icons matcardheadericons">school</i>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div class="educationdate">2015-2019</div>
              <div mat-line>Junior Specialist's Diploma</div>
              <div mat-line>Mykolaiv Polytechnical College</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="educationdate">2019-2021</div>
              <div mat-line>Bachelor's Diploma</div>
              <div mat-line>Petro Mohyla Black Sea National University</div>
            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
