i{
  color: #ff4081;
}

.matcardheadericons{
  color: #000000DE;
}

.headercard {
  background-image: url(../assets/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a{
  color: #000000DE;
}



.educationdate {
  color: #ff4081;
}
